html {
  background: #F5F5F5;
}

/* The svg */
.svg-chart {
  border: none;
  font: 8pt Helvetica, Arial, sans-serif;
}

.svg-map{
  font: 8pt Helvetica, Arial, sans-serif;
  position: relative;
}

.topGroup{
    background-color: black;
    border: solid;
    border-width: 10px;
}

/* Timeline styles */
.timelineMarker{
    /*opacity: 0.75;*/
    /*cursor: pointer;*/
    fill: rgb(0,102,204);
    shape-rendering: geometricPrecision;
    stroke-width: 2px;
    stroke: rgb(0,102,204);
}

.timeline-text{
    fill: rgb(0,102,204);
}

.dots{
    fill: LightGray;
}

/* Axes styles */
.xaxis path,
.xaxis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000;
}

.xaxis text{
    font: 10pt Helvetica, Arial, sans-serif;
}

/* Map tooltip style */
.mapTooltip{
    background: #ffffff;
    border: 1px solid silver;
    border-radius: 2px;
    /*min-height: 110px;*/
    font: 10pt Helvetica, Arial, sans-serif;
    max-width: 300px;
    padding: 10px 10px 12px;
    position: absolute;
}

/* Timeline tooltip style */
.timelineTooltip {
    /*text-align: center;*/
    background: none;
    font: 12px sans-serif;
    position: absolute;
    width: 500px;
}

.travel-path {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.from-icon{
    background: #6bba6d;
    border: 1px solid #3f871e;
    border-radius: 50%;
    opacity: 1.0;
}

.to-icon{
    background: #ba3e3c;
    border: 1px solid #873e1e;
    border-radius: 50%;
    opacity: 1.0
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: white;
    opacity: 0.85;
}
